<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        table {border-collapse: collapse;}
        td, th {border: 1px solid;}
    </style>
</head>
<body>
    <table>
    <tr>
        <th>Дата</th>
        <th>Уникальных кликов</th>
        <th>Заказов в обработке</th>
        <th>Подтвержденных заказов</th>
        <th>Отмененных заказов</th>
        <th>Прибыль участника</th>
    </tr>
    {% for row in rows %}
        <tr>
            <td>{{ row.0| date:"d.m.Y" }}</td>
            <td>{{ row.1 }}</td>
            <td>{{ row.2 }}</td>
            <td>{{ row.3 }}</td>
            <td>{{ row.4 }}</td>
            <td>{{ row.5 }}</td>
        </tr>
    {% endfor %}
    </table>
</body>
</html>